<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\411va\PycharmProjects\individ_poject\static\css\main2.css">
    <title>Document</title>
</head>
<div class="header">
    <h1>Barbossik Posts</h1>
</div>

<body>
    <div>
    <div class="user-info">
        <div></div>
        <h2 id="username">Сергей</h1>
        <a class="newPost" href="view/newPost">Новый пост</a> <br>
        <a class="exit" href="view/exit">Выход</a>
    </div>
    <div class="main">
        <div class="box-content">
            <div class="username-of-post" id="1">Пример •</div>
            <div class="date-of-post" id="1">30.11.2023</div>
            <div class="content" id="1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias similique enim, voluptatum nemo libero ratione. Voluptates itaque quo commodi repellat at provident, deserunt quam suscipit est voluptas quasi molestias adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, doloribus voluptatibus! Error debitis quae perferendis autem porro ullam doloremque! Ducimus inventore placeat, nostrum deleniti numquam perspiciatis fugit possimus eligendi dolorem!</div>

        </div>
    </div>
    </div>
</body>
</html>