<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="C:\Users\411va\PycharmProjects\individ_poject\static\css\login.css">

</head>
<body>
    <form class="login">
        <h1 id="reg">Registration</h1>
        <input type="text" placeholder="username" autocomplete="off">
        <input type="password" placeholder="password">
        <input type="password" placeholder="confirm password">
        <button>регистрация</button>
        <div>есть <a href="view/register">аккаунта</a>?</div>
    </form>
</body>
</html>